<div class="modal fade {{ popup_widget.widget_class }}"
     id="{{ popup_widget.name }}"
     data-bs-backfrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ popup_widget.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% block popup_body %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block popup_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>