{% extends 'widget_templates/popups/base.html' %}

{% block popup_header %}
    <h5 class="modal-title">{{ popup_widget.title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
{% endblock %}

{% block popup_body %}
    <p class="popup-message">{{ popup_widget.message }}</p>
    {% if popup_widget.input_summary %}
        <div class="popup-summary">
            {% for field in popup_widget.input_summary_fields %}
                <div class="input-summary row mb-2">
                    <div class="col-6">
                        <strong class="input-summary-label"
                                data-input-target="{{ field }}">
                        </strong>
                    </div>
                    <div class="col-6 text-muted">
                        <div class="input-summary-value"
                             data-input-target="{{ field }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block popup_footer %}
    <div class="row w-100">
        <div class="col-6 submit-btn-wrapper">
            <button class="btn submit-btn btn-primary w-100"
                    data-form-target="{{ form_widget.name }}">
                {{ popup_widget.confirm_button_text }}
            </button>
        </div>
        <div class="col-6 cancel-btn-wrapper">
            <button class="btn btn-outline-secondary w-100"
                    data-bs-dismiss="modal">
                {{ popup_widget.cancel_button_text }}
            </button>
        </div>
    </div>
{% endblock %}