{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>
        {{ page_title }}
        {% block title %}
        {% endblock %}
    </title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <!-- DataTables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.min.js"
            integrity="sha512-dUlSLLkxslGILhPdCkALwk4szPhp3xmZIKFtlUD+O9Lslq41Aksmdt5OGqpomDoT4FsCUH70jQU8ezZHI3v1RQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css"/>

    <!-- DataTables - ScrollResize plugin -->
    <script
        src="https://cdn.datatables.net/plug-ins/2.0.1/features/scrollResize/dataTables.scrollResize.min.js"></script>

    <!-- Bootstrap theme - customised -->
    <link rel="stylesheet" href="{% static 'css/baca2_theme.css' %}">
    <!-- Bootstrap script -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <!-- MathJax - for LaTeX rendering -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true
            }
        });
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


    <!-- pdf.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
            integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- DateTimePicker -->
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}"/>
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

    <!-- Prism code highlighting -->
    <link rel="stylesheet" class="code-highlighting" data-bs-theme="light"
          href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
          integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" class="code-highlighting" data-bs-theme="dark"
          href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css"
          integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"
            integrity="sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"
        integrity="sha512-SkmBfuA2hqjzEVpmnMt/LINrjop3GKWqsuLSSB3e7iBmYK7JuWw4ldmmxwD9mdm2IRTTi0OxSAfEGvgEi0i2Kw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/diff-highlight/prism-diff-highlight.min.css"
          integrity="sha512-rErSjI34XKsATVf+BW6GnuWVmj7imdMR7AIyb4ydHhiMFewUiJOeN9bYO35iCgdG+3Bxkl0GkAs0E8hrDYooLA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/diff-highlight/prism-diff-highlight.min.js"
        integrity="sha512-gNqZmXmzLWyg/00PDvTnX4q533JiXbxFdTWJC5hfOyHORHXOC6PtDP5Mm2Vpa4faIMONoKQADwhhbst9Ok1/oQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"

          href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css"
          integrity="sha512-cbQXwDFK7lj2Fqfkuxbo5iD1dSbLlJGXGpfTDqbggqjHJeyzx88I3rfwjS38WJag/ihH7lzuGlGHpDBymLirZQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"
        integrity="sha512-BttltKXFyWnGZQcRWj6osIg7lbizJchuAMotOkdLxHxwt/Hyo+cl47bZU0QADg+Qt5DJwni3SbYGXeGMB5cBcw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% comment %}<script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"
        integrity="sha512-d1t+YumgzdIHUL78me4B9NzNTu9Lcj6RdGVbdiFDlxRV9JTN9s+iBQRhUqLRq5xtWUp1AD+cW2sN2OlST716fw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"
        integrity="sha512-/kVH1uXuObC0iYgxxCKY41JdWOkKOxorFVmip+YVifKsJ4Au/87EisD1wty7vxN2kAhnWh6Yc8o/dSAXj6Oz7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>{% endcomment %}

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"
        integrity="sha512-Kit4oPSAREacS6LEF4LGcL6MMlG3O1GqRFDGSX1Vg4JrozGU7hHoMKFkiMWevWq/xmNq8pzMhO2PcZCPHe/gmQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- favicon -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">


    <!-- stylesheets -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- scripts -->
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/themes.js' %}"></script>
    <script src="{% static 'js/logo.js' %}"></script>
    <script src="{% static 'js/buttons.js' %}"></script>
    <script src="{% static 'js/tables.js' %}"></script>
    <script src="{% static 'js/forms.js' %}"></script>
    <script src="{% static 'js/pdf_displayer.js' %}"></script>
    <script src="{% static 'js/side_nav.js' %}"></script>
    <script src="{% static 'js/sidenav.js' %}"></script>

    <!-- template-specific -->
    {% block head %}
    {% endblock %}

</head>

<body data-bs-theme="{{ data_bs_theme }}">

<script>
    preInitCommon();
</script>

{% if display_navbar %}
    {% with widgets.NavBar.navbar as navbar_widget %}
        {% include 'widget_templates/navbar.html' %}
    {% endwith %}
{% endif %}

<div class="h-100 container main-container" id="main-container">
    {% if display_navbar %}
        <div class="navbar-padding">
    {% endif %}
    {% if display_sidenav %}
        <div class="row main-row">
        {% if widgets.Sidenav.sidenav %}
            {% with widgets.Sidenav.sidenav as sidenav %}
                {% include 'widget_templates/navigation/sidenav.html' %}
            {% endwith %}
        {% else %}
            {% with widgets.SideNav.sidenav as sidenav_widget %}
                {% include 'widget_templates/sidenav.html' %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if display_sidenav %}
        <div class="col-lg-9 col-md-8 col-12 sidenav-tabs-content">
    {% endif %}

    {% block content %}
    {% endblock %}

    {% if display_sidenav %}
        </div>
    {% endif %}

    {% if display_sidenav %}
        </div>
    {% endif %}
    {% if display_navbar %}
        </div>
    {% endif %}

    {% include 'widget_templates/popups/loader.html' %}

    <div id="version-footer-padding"></div>
</div>

<script>
    initCommon();
</script>

{% block initializers %}
{% endblock %}

<script>
    showPage();
</script>

{% block scripts %}
{% endblock %}

<!-- Prism JS and autoloader -->

{% block version_footer %}
    <div id="version-footer">
        <div class="row" id="version-footer-row">
            <div class="col-auto">
                BaCa2 v.{{ version }}
            </div>
            <div class="col-auto">
                User: {{ user.email }}
            </div>
            {% if user %}
                <div class="col-auto">
                    Access:
                    {% if user.is_superuser %}SU
                    {% else %}U
                    {% endif %}
                    |
                    {% if user.usos_id %}UJ
                    {% else %}EXT
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

</body>
</html>
