{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="tab-wrapper" id="description-tab">
        <div class="side-nav-tab">
            {% with widgets.TextDisplayer.description as displayer %}
                {% include "widget_templates/text_displayer.html" %}
            {% endwith %}
            {% if attachments %}
                <h4 class="mt-3 mb-2">{% trans "Attachments" %}</h4>
                <div class="attachments row g-2">
                    {% for attachment in attachments %}
                        <div class="col-auto">
                            {% include 'widget_templates/attachment.html' %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if edit_tab %}
        <div class="tab-wrapper" id="{{ edit_tab }}">
            <div class="side-nav-tab">
                {% with widgets.FormWidget.reupload_task_form_widget as form_widget %}
                    {% include "widget_templates/forms/default.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}

    {% if submit_tab %}
        <div class="tab-wrapper" id="{{ submit_tab }}">
            <div class="side-nav-tab">
                {% with widgets.FormWidget.create_submit_form_widget as form_widget %}
                    {% include "widget_templates/forms/default.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if results_tab %}
        <div class="tab-wrapper" id="{{ results_tab }}">
            <div class="side-nav-tab">
                {% with widgets.TableWidget.results_table_widget as table_widget %}
                    {% include "widget_templates/listing/table.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
{% endblock %}
