{% extends 'base.html' %}

{% block content %}
    <div class="tab-content-wrapper" data-tab-id="overview-tab">
        <div class="tab-content">
            {% with widgets.TableWidget.permissions_table_widget as table_widget %}
                {% include "widget_templates/listing/table.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="tab-content-wrapper" data-tab-id="members-tab">
        <div class="tab-content">
            {% with widgets.TableWidget.members_table_widget as table_widget %}
                {% include "widget_templates/listing/table.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="tab-content-wrapper" data-tab-id="add-permissions-tab">
        <div class="tab-content">
            {% with widgets.FormWidget.add_role_permissions_form_widget as form_widget %}
                {% include "widget_templates/forms/default.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="tab-content-wrapper" data-tab-id="remove-permissions-tab">
        <div class="tab-content">
            {% with widgets.FormWidget.remove_role_permissions_form_widget as form_widget %}
                {% include "widget_templates/forms/default.html" %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
