{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/course_view.css' %}">
{% endblock %}

{% block content %}
    <div class="tab-content-wrapper" data-tab-id="landing-tab">
        <div class="tab-content">
            <div class="row course-overview-wrapper">
                <div class="col-xl-6 col-12 announcements-col-wrapper">
                    {% if display_announcements %}
                        <div class="announcements-col">
                            {% with widgets.AnnouncementBlock.announcements as announcement_block %}
                                    {% include 'widget_templates/announcement_block.html' %}
                            {% endwith %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-xl-6 col-12">
                    {% with widgets.TableWidget.course_overview_table as table_widget %}
                        {% include "widget_templates/listing/table.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    {% if view_members_tab %}
        <div class="tab-content-wrapper" data-tab-id="view-members-tab">
            <div class="tab-content">
                {% with widgets.TableWidget.members_table_widget as table_widget %}
                    {% include "widget_templates/listing/table.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if add_member_tab %}
        <div class="tab-content-wrapper" data-tab-id="add-member-tab">
            <div class="tab-content">
                {% with widgets.FormWidget.add_member_form_widget as form_widget %}
                    {% include "widget_templates/forms/default.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if add_members_csv_tab %}
        <div class="tab-content-wrapper" data-tab-id="add-members-from-csv-tab">
            <div class="tab-content">
                {% with widgets.FormWidget.add_members_from_csv_form_widget as form_widget %}
                    {% include "widget_templates/forms/default.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if remove_members_tab %}
        <div class="tab-content-wrapper" data-tab-id="remove-members-tab">
            <div class="tab-content">
                {% with widgets.FormWidget.remove_members_form_widget as form_widget %}
                    {% include "widget_templates/forms/default.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if view_roles_tab %}
        <div class="tab-content-wrapper" data-tab-id="view-roles-tab">
            <div class="tab-content">
                {% with widgets.TableWidget.roles_table_widget as table_widget %}
                    {% include "widget_templates/listing/table.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if add_role_tab %}
        <div class="tab-content-wrapper" data-tab-id="add-role-tab">
            <div class="tab-content">
                {% with widgets.FormWidget.add_role_form_widget as form_widget %}
                    {% include "widget_templates/forms/default.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if view_rounds_tab %}
        <div class="tab-content-wrapper" data-tab-id="view-rounds-tab">
            <div class="tab-content">
                {% with widgets.TableWidget.rounds_table_widget as table_widget %}
                    {% include "widget_templates/listing/table.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if add_round_tab %}
        <div class="tab-content-wrapper" data-tab-id="add-round-tab">
            <div class="tab-content">
                {% with widgets.FormWidget.create_round_form_widget as form_widget %}
                    {% include "widget_templates/forms/default.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if view_tasks_tab %}
        <div class="tab-content-wrapper" data-tab-id="view-tasks-tab">
            <div class="tab-content">
                {% with widgets.TableWidget.tasks_table_widget as table_widget %}
                    {% include "widget_templates/listing/table.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if add_task_tab %}
        <div class="tab-content-wrapper" data-tab-id="add-task-tab">
            <div class="tab-content">
                {% with widgets.FormWidget.create_task_form_widget as form_widget %}
                    {% include "widget_templates/forms/default.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if results_tab %}
        <div class="tab-content-wrapper" data-tab-id="results-tab">
            <div class="tab-content">
                {% with widgets.TableWidget.results_table_widget as table_widget %}
                    {% include "widget_templates/listing/table.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
{% endblock %}
