{% extends "base.html" %}

{% block content %}
    {% if display_sidenav %}
    <div class="tab-content-wrapper" data-tab-id="summary-tab">
        <div class="tab-content">
    {% endif %}
            <div class="mb-3">
                {% with widgets.TableWidget.summary_table_widget as table_widget %}
                    {% include "widget_templates/listing/table.html" %}
                {% endwith %}
            </div>

            {% for s in sets %}
                <div class="mb-3">
                    {% with s.table_widget as table_widget %}
                        {% include "widget_templates/listing/table.html" %}
                    {% endwith %}
                </div>
            {% endfor %}
    {% if display_sidenav %}
        </div>
    </div>
    {% endif %}

    <div class="tab-content-wrapper" data-tab-id="code-tab">
        <div class="tab-content">
            {% with widgets.CodeBlock.source_code_block as codeblock %}
                {% include "widget_templates/code_block.html" %}
            {% endwith %}
        </div>
    </div>

    {% if display_test_summaries %}
        {% for s in sets %}
            <div class="tab-content-wrapper" data-tab-id="{{ s.set_name }}-tab">
                <div class="tab-content">
                    {% for test_summary in s.tests %}
                        {% with test_summary as brief_result_summary %}
                            {% include "widget_templates/brief_result_summary.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
