{% extends "base.html" %}
{% block content %}
    <div class="tab-content-wrapper" data-tab-id="profile-tab">
        <div class="tab-content">
            <div class="mb-3">
                {% with widgets.TableWidget.personal_data_table_widget as table_widget %}
                    {% include "widget_templates/listing/table.html" %}
                {% endwith %}
            </div>
            {% with widgets.FormWidget.change_personal_data_form_widget as form_widget %}
                {% include "widget_templates/forms/default.html" %}
            {% endwith %}
        </div>
    </div>
    {% if not change_password_header %}
        <div class="tab-content-wrapper" data-tab-id="security-tab">
            <div class="tab-content">
                <div class="card">
                    <div class="card-header">
                        <h2>{{ change_password_title }}</h2>
                    </div>
                    <div class="card-body">
                        {% with widgets.FormWidget.change_password_form_widget as form_widget %}
                            {% include "widget_templates/forms/default.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
