{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/table_sortable.css' %}">
    <link rel="stylesheet" href="{% static 'css/table_searchable.css' %}">
{% endblock %}

{% block content %}
    {% with table1 as table %}
        {% include 'widgets/table.html' %}
    {% endwith %}
    {% with table2 as table %}
        {% include 'widgets/table.html' %}
    {% endwith %}
    <script src="{% static 'js/table_sort.js' %}"></script>
    <script src="{% static 'js/table_search.js' %}"></script>
{% endblock %}