<script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">

<div class="page-body">
    <div class="container-xl">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        {% for col_name in table.header %}
                            <th>{{ col_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for record in table.records %}
                        <tr>
                            {% for field in record.fields %}
                                <td>{{ field.0 }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>