@use 'sass:map';

// ----------------------------------------- themes ------------------------------------------- //

$themes: light, dark;

// ----------------------------- bootstrap theme colors overrides ----------------------------- //

$primary: #FE2E63;
$secondary: #D3CABD;
$danger: #FE2E63;
$success: #08D9D6;
$muted: gray;

// ------------------------------------ custom theme colors ----------------------------------- //

$baca2_pink: #FE2E63;
$baca2_beige: #D3CABD;
$baca2_blue: #08D9D6;
$dark_muted: #3e4042;
$light_muted: #A0A0A0FF;
$pale_muted: #d0d0d0;
$darker: #171a1d;

// ------------------------ imports necessary for extending theme-colors ---------------------- //

@import '../../../node_modules/bootstrap/scss/_functions';
@import '../../../node_modules/bootstrap/scss/_variables';

// ------------------------------ bootstrap theme colors extension ---------------------------- //

$baca2-theme-colors: (
        "baca2_blue": $baca2_blue,
        "baca2_beige": $baca2_beige,
        "baca2_pink": $baca2_pink,
        "dark_muted": $dark_muted,
        "light_muted": $light_muted,
        "pale_muted": $pale_muted,
        "darker": $darker,
);
$theme-colors: map-merge($baca2-theme-colors, $theme-colors);

// ------------------------ bootstrap custom color properties overrides ----------------------- //

:root {
    --bs-form-valid-border-color: $red;
}

// ------------------------------------------- logo ------------------------------------------- //

$logo_versions: horizontal, square, icon;
$logo_sizes: (
        xs: (
                horizontal: 1.5rem,
                square: 2rem,
                icon: 1.5rem
        ),
        s: (
                horizontal: 3rem,
                square: 4rem,
                icon: 2rem
        ),
        m: (
                horizontal: 4rem,
                square: 8rem,
                icon: 4rem
        ),
        l: (
                horizontal: 8rem,
                square: 12rem,
                icon: 8rem
        )
);
$default_logo_version: horizontal;
$logo_letters_light_theme: #000000;
$logo_letters_dark_theme: #ffffff;
$logo_small_triangle: $baca2_pink;
$logo_medium_triangle: $baca2_beige;
$logo_large_triangle: $baca2_blue;

// ------------------------------------------ icons ------------------------------------------- //

$icon_sizes: (
        s: 1rem,
        m: 1.5rem,
        l: 2rem
);

// ------------------------------------------ cards ------------------------------------------- //

$card_sizes: (
        s: 15rem,
        m: 25rem,
        l: 40rem
);

// ----------------------------------------- scrollbar ---------------------------------------- //

$scrollbar_width: 20px;
$scrollbar_default_variables: (
        color: $pale_muted,
        color_hover: $light_muted,
);
$scrollbar_theme_variables: (
        light: (),
        dark: (
                color: $dark_muted,
                color_hover: $light_muted,
        )
);

// ------------------------------------------ navbar ------------------------------------------ //

$navbar_default_variables: (
        bg: $light,
        link_color: $dark,
        active_link_color: $baca2_pink,
        icon_color: $dark,
        hover_color: $baca2_pink,
        logo_hover_color: $baca2_blue,
        divider_color: $light_muted,
);
$navbar_theme_variables: (
        light: (),
        dark: (
                bg: $black,
                link_color: $muted,
                active_link_color: $white,
                icon_color: $white,
                divider_color: $dark_muted,
        )
);
$navbar_padding: 4.25rem;

// ----------------------------------------- sidenav ------------------------------------------ //

$side_nav_default_variables: (
        tab_bg_color: $light,
        tab_bg_color_hover: $white,
        tab_bg_color_active: $baca2_beige,
        tab_bg_color_expanded: $white,
        tab_bg_color_expanded_hover: $white,
        tab_bg_color_active_hover: $white,
        sub_tab_bg_color: $light,
        sub_tab_bg_color_expanded: $white,
        sub_tab_bg_color_hover: $baca2_beige,
        sub_tab_bg_color_active: $baca2_beige,
        link_color: $muted,
        link_color_hover: $dark,
        link_color_active: $dark,
        link_color_active_hover: $dark,
        border_color: $light_muted,
        border_color_hover: $dark,
        border_color_active: $dark,
);
$side_nav_theme_variables: (
        light: (),
        dark: (
                tab_bg_color: $black,
                tab_bg_color_hover: $dark,
                tab_bg_color_active: $dark_muted,
                tab_bg_color_expanded: $dark,
                tab_bg_color_expanded_hover: $dark,
                tab_bg_color_active_hover: $dark,
                sub_tab_bg_color: $black,
                sub_tab_bg_color_expanded: $black,
                sub_tab_bg_color_hover: $dark_muted,
                sub_tab_bg_color_active: $dark_muted,
                link_color: $muted,
                link_color_hover: $white,
                link_color_active: $white,
                link_color_active_hover: $white,
                border_color: $muted,
                border_color_hover: $white,
                border_color_active: $white,
        )
);
$side_nav_border_line_width: 1px;
$side_nav_corner_radius: 6px;

// ------------------------------------------ tables ------------------------------------------ //

$table_default_variables: (
        delete_icon_color: $muted,
        delete_icon_color_hover: $baca2_pink,
        selected_row_bg_color: rgba(0, 0, 0, 0.08),
        row_bg_color_hover: rgba(0, 0, 0, 0.08),
        util_header_bg_color: $light,
        resize_handle_color: $light,
        resize_handle_color_hover: rgba(0, 0, 0, 0.03),
);
$table_theme_variables: (
        light: (),
        dark: (
                util_header_bg_color: rgba(0, 0, 0, 0.3),
                selected_row_bg_color: rgba(255, 255, 255, 0.03),
                row_bg_color_hover: rgba(255, 255, 255, 0.03),
                resize_handle_color: rgba(0, 0, 0, 0.3),
                resize_handle_color_hover: rgba(0, 0, 0, 0.4),
        )
);

// ------------------------------------------ popups ------------------------------------------ //

$submit_success_color: $success;
$submit_failure_color: $danger;

// -------------------------------------- datetimepicker -------------------------------------- //

$datetimepicker_default_variables: (
        body_bg_color: $light,
        body_text_color: $dark,
        icon_color: 'black',
        datetime_bg_color: $white,
        datetime_text_color: $dark,
        current_datetime_border_color: $baca2_pink,
        current_datetime_text_color: $dark,
        datetime_hover_bg_color: $baca2_pink,
        datetime_hover_text_color: $light,
        other_month_bg_color: $light,
        other_month_text_color: $dark,
        other_month_hover_bg_color: $dark,
        other_month_hover_text_color: $light,
);
$datetimepicker_theme_variables: (
        light: (),
        dark: (
                body_bg_color: $black,
                body_text_color: $light,
                icon_color: 'white',
                datetime_bg_color: $pale_muted,
                datetime_text_color: $dark,
                current_datetime_border_color: $baca2_pink,
                current_datetime_text_color: $dark,
                datetime_hover_bg_color: $baca2_pink,
                datetime_hover_text_color: $light,
                other_month_bg_color: $light,
                other_month_text_color: $dark,
                other_month_hover_bg_color: $dark,
                other_month_hover_text_color: $light,
        )
);

// ---------------------------------------- codeblock ---------------------------------------- //

$codeblock_default_variables: (
        bg_color: rgb(245, 242, 240),
);

$codeblock_theme_variables: (
        light: (),
        dark: (
                bg_color: $darker,
        ),
);

// ------------------------------------------ loader ------------------------------------------ //

$loader_default_variables: (
        color: white,
);

$loader_theme_variables: (
        light: (),
        dark: (
                color: white,
        ),
);
