@import "baca2_variables";

pre.code-block {
    padding-right: 2.8rem !important;

    &.wrap-lines {
        overflow: hidden;
        white-space: pre-wrap;

        code {
            white-space: pre-wrap;
        }
    }

    .line-numbers-rows {
        transition: opacity 0.3s ease-in-out;
    }

    &.line-numbers-hidden .line-numbers-rows {
        opacity: 0;
    }
}

.code-toolbar {
    position: relative;

    &:hover .toolbar {
        opacity: 0.6;
    }

    .toolbar {
        opacity: 0.2;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 1;
        }

        .toolbar-item:not(:last-child) {
            margin-bottom: 0.3rem;
        }

        button {
            font-size: 0.875rem;
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
            border-width: 1px;
        }
    }
}

// --------------------------------------- theme colors --------------------------------------- //

@each $theme, $map in $codeblock_theme_variables {
    $bg_color: safe_get($map, $codeblock_default_variables, bg_color);

    [data-bs-theme="#{$theme}"] {
        pre.code-block {
            background: $bg_color !important;

            .token.operator {
                background: $bg_color !important;
            }
        }

        .test-summary .compile-tabs-nav .nav-link.active {
            background-color: $bg_color;
        }
    }
}

[data-bs-theme="light"] {
    .code-toolbar button {
        border-color: $light_muted;
        color: $muted;
    }
}

// ----------------------------------- test-summary-specific ---------------------------------- //

.test-summary {
    .compile-tabs .code-block {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .compile-tabs-nav {
        overflow: hidden;
    }
}
