.toggleable {
    button {
        width:35%;
        font-size: 0.85rem;
    }
}

.invalid-feedback {
    display: block;
}

form .card-body {
    padding-bottom: 0;
}

.form-confirmation-popup {
    .modal-header, .modal-body, .modal-footer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .modal-footer {
        .row {
            margin: 0;
        }

        .submit-btn-wrapper {
            padding-left: 0;
        }

        .cancel-btn-wrapper {
            padding-right: 0;
        }
    }
}