@import "baca2_variables";
@import "functions";

.side-nav {
    border-radius: 6px;
    height: 100%;
    padding: 0;

    .side-nav-content {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column-reverse;

        .tab-button {
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;

            &:last-child {
                border-radius: 6px 6px 0 0;
            }

            &:first-child {
                border-radius: 0 0 6px 6px;

                .sub-tab-button:last-child {
                    border-radius: 0 0 6px 6px;
                }
            }

            .side-nav-link {
                text-decoration: none;
                display: block;
                padding: 1rem;
            }

            .sub-tabs-wrapper {
                .sub-tabs-content {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    .sub-tab-button {
                        margin: 0;
                        padding: 0;
                        display: inline-block;
                        width: 100%;
                        box-sizing: border-box;

                        .side-nav-link {
                            padding: 0.7rem 1rem 0.7rem 2rem;
                        }
                    }

                    overflow: hidden;
                }
            }
        }
    }
}

.side-nav {
    .tab-button {
        .sub-tabs-wrapper {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.5s ease-out;
        }

        &.expanded, &:hover {
            .sub-tabs-wrapper {
                grid-template-rows: 1fr;
            }
        }
    }

    &.expanded {
        .sub-tabs-wrapper {
            grid-template-rows: 1fr;
        }
    }
}

.tab-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;

    &.active {
        .side-nav-tab {
            overflow: visible;
            animation: 1.5s delay-overflow-visible;
        }
        grid-template-rows: 1fr;
    }

    .side-nav-tab {
        overflow: hidden;
    }
}

@keyframes delay-overflow-visible {
    from {
        overflow: hidden;
    }
}

@each $theme, $map in $side_nav_theme_variables {
    [data-bs-theme="#{$theme}"] .side-nav {
        .tab-button {
            border-bottom: safe_get($map, $side_nav_default_variables, border_color) 1px solid;

            transition: border-bottom-color ease 0.5s,
                        border-top-color ease 0.5s,
                        background-position 1s;

            .sub-tabs-wrapper {
                .sub-tab-button {
                    transition: background-position 1s;

                    &:first-child {
                        border-top: safe_get($map, $side_nav_default_variables, border_color)
                        1px solid;
                    }
                }
            }

            &:first-child {
                border-bottom: none;
            }

            .side-nav-link {
                color: safe_get($map, $side_nav_default_variables, link_color);
                transition: color ease 0.8s;
            }

            &:hover {
                border-bottom-color: safe_get(
                    $map,
                    $side_nav_default_variables,
                    hover_border_color
                );

                &:not(:last-child) + .tab-button {
                    border-bottom-color: safe_get(
                        $map,
                        $side_nav_default_variables,
                        hover_border_color
                    );
                }

                .side-nav-link {
                    color: safe_get($map, $side_nav_default_variables, hover_link_color);
                }
            }

            &.active, &.expanded {
                border-bottom-color: safe_get(
                    $map,
                    $side_nav_default_variables,
                    hover_border_color
                );

                &:not(:last-child) + .tab-button {
                    border-bottom-color: safe_get(
                        $map,
                        $side_nav_default_variables,
                        hover_border_color
                    );
                }

                .side-nav-link {
                    color: safe_get($map, $side_nav_default_variables, active_link_color);
                }

                &:hover {
                    .side-nav-link {
                        color: safe_get($map, $side_nav_default_variables, hover_link_color);
                    }
                }
            }
        }
    }
}

// ---------------------------------------- bg color ------------------------------------------ //

@each $theme, $map in $side_nav_theme_variables {
    [data-bs-theme="#{$theme}"] .side-nav .tab-button {
        // Tab - default bg color
        background-color: safe_get($map, $side_nav_default_variables, bg);
        transition: background-color ease 0.3s;

        // Tab - hover bg color
        &:hover {
            background-color: safe_get($map, $side_nav_default_variables, hover_bg)
        }

        // Tab - expanded bg color
        &.expanded {
            background-color: safe_get($map, $side_nav_default_variables, hover_bg);
        }

        // Tab - active bg color
        &.active {
            background-color: safe_get($map, $side_nav_default_variables, active_bg);
        }

        // Tab - active/expanded hover bg color
        &.active, &.expanded {
            &:hover {
                background-color: safe_get($map, $side_nav_default_variables, hover_bg);
            }
        }

        // Sub tab - default bg color
        .sub-tab-button {
            background-color: safe_get($map, $side_nav_default_variables, bg_sub_tab);
            transition: background-color ease 0.3s;

            // Sub tab - hover bg color
            &:hover {
                background-color: safe_get(
                                $map,
                                $side_nav_default_variables,
                                hover_active_bg_sub_tab
                );
            }

            // Sub tab - active bg color
            &.active {
                background-color: safe_get(
                                $map,
                                $side_nav_default_variables,
                                hover_active_bg_sub_tab
                );
            }
        }

        // Sub tab - expanded bg color
        &.expanded, &:hover {
            .sub-tab-button {
                background-color: safe_get($map, $side_nav_default_variables, expanded_bg_sub_tab);
            }
        }
    }
}