@import "baca2_variables";
@import "functions";

.table-wrapper {
    .table-widget-forms-wrapper form {
        display: none;
    }

    .table-buttons {
        --bs-gutter-x: 0.5rem;
    }

    .card {
        overflow: hidden;
    }

    .table-responsive[data-paging="false"] {
        .dataTables_info {
            display: none;
        }
    }
}

@each $theme, $map in $table_theme_variables {
    [data-bs-theme="#{$theme}"] .table-wrapper {
        .table-util-header {
            background-color: safe_get($map, $table_default_variables, util_header_bg_color);
        }

        td.delete {
            i {
                color: safe_get($map, $table_default_variables, delete_icon_color)
            }

            &:hover i {
                color: safe_get($map, $table_default_variables, delete_icon_color_hover)
            }
        }

        .row-selected td {
            background-color: safe_get($map, $table_default_variables, selected_row_bg_color);
        }
    }
}