.table-sortable th::after {
    margin-left: 0.5rem;
    content: "\25b4";
    visibility: hidden;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
    visibility: visible;
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
    visibility: visible;
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 0.5rem;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background-color: rgba(255, 46, 99, 1);
    color: white;
}

@keyframes sorted {
    from {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.table-sortable .td-sort {
    animation: sorted 0.5s forwards;
}

tr.search-match:nth-of-type(2n) {
    background-color: rgba(255, 255, 255, 0.5);
}