{% if codeblock.display_wrapper %}
    <div class="code-block-wrapper card">
    {% if codeblock.title %}
        <div class="card-header">
            <h5 class="card-title mb-0">{{ codeblock.title }}</h5>
        </div>
    {% endif %}
    <div class="card-body p-0">
{% endif %}
<pre class="{{ codeblock.widget_class }}"
     id="{{ codeblock.name }}"
     remove-initial-line-feed="true">
        <code class="language-{{ codeblock.language }}">
            {{ codeblock.code }}
        </code>
</pre>
{% if codeblock.display_wrapper %}
    </div>
    </div>
{% endif %}
