{% load widget_tweaks %}
{% if form_widget.floating_labels %}
    <div class="form-floating">
{% else %}
    <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
{% endif %}

{% if form_widget.display_field_validation %}

    {% if form.is_bound %}
        {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
            {% render_field field class="form-control is-valid" id=field.name placeholder="n" %}
        {% endif %}
    {% endif %}

{% else %}
    {% render_field field class="form-control" id=field.name placeholder="n" %}
{% endif %}

{% if form_widget.floating_labels %}
    <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
    </div>
{% endif %}

{% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
{% endif %}