{% load widget_tweaks %}
{% load custom_tags %}

<div class="input-block mb-3">
    <div class="input-group
            {% if field.name in form_widget.toggleable_fields %}
                toggleable
                {% if field.value %}
                    toggleable-on
                {% else %}
                    toggleable-off
                {% endif %}
            {% endif %}">
        {% if form_widget.floating_labels %}
            <div class="form-floating">
        {% else %}
            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
        {% endif %}

        {% if form_widget.display_field_errors and form_widget.form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" id=field.name placeholder="-" %}
            {% else %}
                {% render_field field class="form-control is-valid" id=field.name placeholder="-" %}
            {% endif %}
        {% else %}
            {% render_field field class="form-control" id=field.name placeholder="-" %}
        {% endif %}

        {% if form_widget.floating_labels %}
            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
            </div>
        {% endif %}

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% if field.name in form_widget.toggleable_fields %}
            {% with button_params=form_widget.toggleable_fields_params|get_item:field.name %}
                <button class="btn btn-outline-secondary"
                        type="button"
                        onclick="toggleField('{{ field.name }}',
                                '{{ button_params|get_item:'button_text_off' }}',
                                '{{ button_params|get_item:'button_text_on' }}')">
                    {% if field.value %}
                        {{ button_params|get_item:'button_text_on'}}
                    {% else %}
                        {{ button_params|get_item:'button_text_off'}}
                    {% endif %}
                </button>
            {% endwith %}
        {% endif %}
    </div>

    {% if form_widget.display_field_errors and form_widget.form.is_bound %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>

{% if form_widget.live_validation %}
    <script>
        $('#{{ field.name }}').on('input', function () {
            update_validation_status(
                this,
                '{{ form_widget.field_classes|get_item:field.name }}',
                '{{ form_widget.field_required|get_item:field.name }}',
                '{{ form_widget.field_min_length|get_item:field.name }}',
                '{% url 'main:field-validation' %}');
        });
    </script>
{% endif %}
