{% load widget_tweaks %}

<label class="form-label">{{ field.label }}</label>

{% if form_widget.display_field_validation %}

    {% if form.is_bound %}
        {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
            {% render_field field class="form-control is-valid" %}
        {% endif %}
    {% endif %}

{% else %}
    {% render_field field class="form-control" %}
{% endif %}

{% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
{% endif %}