{% load static %}
<div class="col-lg-3 col-md-4 col-12 side-nav {{ sidenav_widget.widget_class }}">
    <ul class="side-nav-content mb-3">
        {% for tab in sidenav_widget.tabs reversed %}
            <li class="side-nav-button tab-button
            {% if tab.sub_tabs %}
                sub-tabs
            {% endif %}">
                <a class="side-nav-link" href="#" data-id="{{ tab.data_id }}">
                    {{ tab.name }}
                </a>
                {% if tab.sub_tabs %}
                    <div class="sub-tabs-wrapper">
                        <ul class="sub-tabs-content">
                            {% for sub_tab in tab.sub_tabs %}
                                <li class="side-nav-button sub-tab-button">
                                    <a class="side-nav-link" href="#"
                                       data-id="{{ sub_tab.data_id }}">
                                        {{ sub_tab.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% with sidenav_widget.toggle_button as button %}
        {% if button.on %}
            <div class="col-lg-5 col-md-6 col-4 mb-3">
                <button class="btn btn-baca2_beige w-100"
                        onclick="toggleSidenavButton(
                            this,
                            '{{ button.text_collapsed }}',
                            '{{ button.text_expanded }}'
                        )">
                    {% if button.state %}
                        {{ button.text_collapsed }}
                    {% else %}
                        {{ button.text_expanded }}
                    {% endif %}
                </button>
            </div>
        {% endif %}
    {% endwith %}
</div>
