{% load custom_tags %}

{% if table_widget.allow_delete %}
{% endif %}

<div class="table-wrapper card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="{{ table_widget.table_class }}"
                   id="{{ table_widget.name }}"
                   style="width:100%">
                <thead>
                    <tr>
                        {% for col in table_widget.cols %}
                            <th class="{{ col.col_type }}">
                                {{ col.header }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    tableSetup({
        table_id: '{{ table_widget.name }}',
        model_name: '{{ table_widget.model_name }}',
        cols: {{ table_widget.cols|safe }},
        default_order: '{{ table_widget.default_order }}',
        default_order_col: parseInt({{ table_widget.default_order_col }}),
        paging: {{ table_widget.paging|safe }},
        refresh: {{ table_widget.refresh|safe }},
        refresh_interval: parseInt({{ table_widget.refresh_interval }}),
    });
</script>

