<div class="table-responsive">
    <table class="{{ table.table_class }}"
           id="{{ table.table_id }}"
           style="width:100%">
        <thead>
            <tr>
                {% for col_name in table.header %}
                    <th>{{ col_name }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">

    const table = $('#{{ table.table_id }}').DataTable({
        ajax: "/main/json/{{ table.model_name }}",
        columns: [
            {% for col_name in table.cols %}
                {"data": "{{ col_name }}"},
            {% endfor %}
        ],
        {% if table.paging %}
            pageLength: parseInt({{ table.page_length }}),
            {% if table.length_change %}
                lengthMenu: [
                    [{% for length in table.length_menu %}
                        {{ length }},
                    {% endfor %}],
                    [{% for length in table.length_menu %}
                        {% if length == -1 %}
                            "All",
                        {% else %}
                            {{ length }},
                        {% endif %}
                    {% endfor %}],
                ],
            {% else %}
                lengthChange: false,
            {% endif %}
        {% else %}
            paging:false,
        {% endif %}
        searching: false,
    });

    {% if table.refresh %}
        setInterval(() => {
            table.ajax.reload();
        }, {{ table.refresh_interval }});
    {% endif %}

</script>