{% load custom_tags %}

<div class="table-wrapper">
    <div class="table-widget-forms-wrapper">
        {% if table_widget.allow_delete %}
            <div class="table-widget-form delete-record-form"
                 data-table-id="{{ table_widget.name }}">
                {% with table_widget.delete_record_form_widget as form_widget %}
                    {% include 'widget_templates/forms/default.html' %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% if table_widget.display_title %}
                    <div class="col-auto">
                        <h4 class="ms-3">{{ table_widget.title }}</h4>
                    </div>
                {% endif %}
                {% if table_widget.table_buttons %}
                    <div class="col">
                        <div class="table-buttons row d-flex justify-content-end">
                            {% if table_widget.refresh_button %}
                                <div class="table-btn-wrapper col-auto">
                                    <button class="table-refresh-btn btn btn-outline-light_muted"
                                            type="button"
                                            data-refresh-target="{{ table_widget.name }}">
                                        <small>
                                            <i class="bi bi-arrow-clockwise"></i>
                                        </small>
                                    </button>
                                </div>
                            {% endif %}
                            {% if table_widget.delete_button %}
                                <div class="table-btn-wrapper col-auto">
                                    <button class="btn btn-outline-danger" type="button">
                                        <small>
                                            <i class="bi bi-trash3"></i>
                                        </small>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="{{ table_widget.widget_class }}"
                       id="{{ table_widget.name }}"
                       style="width:100%">
                    <thead>
                        <tr>
                            {% for col in table_widget.cols %}
                                <th class="{{ col.col_type }}">
                                    {{ col.header }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    initTable({
        tableId: '{{ table_widget.name }}',
        dataSourceUrl: '{{ table_widget.data_source_url }}',
        cols: {{ table_widget.cols|safe }},
        defaultOrder: '{{ table_widget.default_order }}',
        defaultOrderCol: parseInt({{ table_widget.default_order_col }}),
        paging: {{ table_widget.paging|safe }},
        refresh: {{ table_widget.refresh|safe }},
        refreshInterval: parseInt({{ table_widget.refresh_interval }}),
    });
</script>

