{% extends "mail/base.html" %}
{% block content %}
    <h1>Welcome to BaCa2!</h1>
    <p>
        You have been successfully registered to BaCa2. Confirm Your personal data:
    </p>
    <p style="font-style: oblique">
        {% if first_name %}
            Name: {{ first_name }}
            Surname: {{ last_name }}
        {% endif %}
        e-mail: {{ email }}
    </p>
    <p>
        <a href="{{ confirm_url }}">Confirm Your data and setup password</a>
    </p>
    <p>If data is invalid please report this to your lecturer.</p>

{% endblock %}
