{% load static %}
<script src="{% static 'js/forms.js' %}"></script>

<form method="post" id="{{ form_widget.name }}"
      {% if form_widget.post_url %} action="{{ form_widget.post_url }}" {% endif %}>
    {% csrf_token %}

    {% if form_widget.display_non_field_errors %}
        {% if form_widget.form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form_widget.form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% block form_fields %}
    {% endblock %}

    <div class="form-footer">
        <button type="submit" class="btn btn-primary w-100">
            {{ form_widget.button_text }}
        </button>
    </div>
</form>

{% if form_widget.ajax_post %}
    <script>
        $(document).on('submit', '#{{ form_widget.name }}', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{{ form_widget.post_url }}',
                data: $(this).serialize(),
                success: function (data) {
                    console.log('success');
                }
            });
        });
    </script>
{% endif %}