{% load static %}
<script src="{% static 'js/forms.js' %}"></script>

<form method="post" id="{{ form_widget.name }}"
      {% if form_widget.post_url %} action="{{ form_widget.post_url }}" {% endif %}>
    {% csrf_token %}

    {% if form_widget.display_non_field_errors %}
        {% if form_widget.form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form_widget.form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% block form_fields %}
    {% endblock %}

    <div class="form-footer">
        <div class="row">
            <div class="col-10">
                <button class="submit-btn btn btn-primary w-100
                        {% if form_widget.confirmation_popup %}
                            submit-confirmation-btn
                        {% endif %}"
                        {% if form_widget.confirmation_popup %}
                            type="button"
                            data-bs-target="#{{ form_widget.confirmation_popup.name }}"
                            data-bs-toggle="modal"
                        {% else %}
                            type="submit"
                        {% endif %}>
                    {{ form_widget.button_text }}
                </button>
            </div>
            <div class="col d-flex">
                <div class="icon-wrapper icon-m w-100">
                    <button class="btn btn-primary form-refresh-button w-100" type="button">
                        {% include 'icons/refresh.svg' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

{% with form_widget.confirmation_popup as confirmation_popup %}
    {% if confirmation_popup %}
        {% include 'widget_templates/forms/confirmation_popup.html' %}
    {% endif %}
{% endwith %}

{% if form_widget.ajax_post %}
    <script>
        $(document).on('submit', '#{{ form_widget.name }}', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{{ form_widget.post_url }}',
                data: $(this).serialize(),
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
{% endif %}