{% extends 'widget_templates/forms/choice_field_base.html' %}

{% block field %}
    {% if form_widget.floating_labels %}
            <div class="form-floating">
    {% else %}
        {% include 'widget_templates/forms/field_label.html' %}
    {% endif %}

    {% include 'widget_templates/forms/field_render.html' %}

    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}

    {% if form_widget.floating_labels %}
        {% include 'widget_templates/forms/field_label.html' %}
        </div>
    {% endif %}
{% endblock %}
