{% extends 'widget_templates/forms/choice_field_base.html' %}

{% block field %}
    {% if not form_widget.floating_labels %}
        {% include 'widget_templates/forms/field_label.html' %}
    {% endif %}

    <div class="input-group">
        <div class="input-group-text">
            <a href="#" class="model-choice-field-reload-btn">
                <i class="ms-1 me-1 bi bi-arrow-clockwise"></i>
            </a>
        </div>

        {% if form_widget.floating_labels %}
                <div class="form-floating">
        {% endif %}

        {% include 'widget_templates/forms/field_render.html' %}

        {% if form_widget.floating_labels %}
            {% include 'widget_templates/forms/field_label.html' %}
            </div>
        {% endif %}
    </div>

    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
{% endblock %}
