{% extends "widget_templates/forms/base.html" %}
{% load custom_tags %}

{% block form_fields %}
    {% for hidden_field in form_widget.form.hidden_fields %}
        {% if not hidden_field.field.widget.attrs.class == 'table-select-field' %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endif %}
    {% endfor %}

    <div class="tab-wrapper" id="general-settings-tab">
        <div class="side-nav-tab">
            {% for field_name in form_widget.form.general_fields %}
                {% with form_widget.form|get_form_field:field_name as field %}
                    {% include "widget_templates/forms/field.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>

    {% for set_group in form_widget.form.set_groups %}
        {% with set_group.name as set_group_name %}
            <div class="tab-wrapper" id="{{ set_group_name }}-settings-tab">
                <div class="side-nav-tab">
                    {% for field_name in set_group.fields %}
                        {% with form_widget.form|get_form_field:field_name as field %}
                            {% include "widget_templates/forms/field.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            {% for test_group in set_group.test_groups %}
                {% with test_group.name as test_group_name %}
                    <div class="tab-wrapper" id="{{ test_group_name }}-tab">
                        <div class="side-nav-tab">
                            {% for field_name in test_group.fields %}
                                {% with form_widget.form|get_form_field:field_name as field %}
                                    {% include "widget_templates/forms/field.html" %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endwith %}
    {% endfor %}
{% endblock %}
