{% load bootstrap_icons %}

{% if col.header_icon and col.header %}
    <div class="row align-items-center">
        <div class="col-auto d-flex ps-2 g-1 mt-0">
            {% bs_icon col.header_icon %}
        </div>
        <div class="col-auto d-flex g-1 mt-0">
            {{ col.header }}
        </div>
    </div>
{% elif col.header_icon %}
    <div class="text-center w-100">
        {% bs_icon col.header_icon extra_classes='icon-header' %}
    </div>
{% else %}
    {{ col.header }}
{% endif %}
