<th class="{{ col.col_type }} {% if col.sortable == "true" %} pe-5 {% endif %}"
    data-searchable="{{ col.searchable }}"
    data-sortable="{{ col.sortable }}"
    data-col-name="{{ col.name }}"
    data-refresh-table-on-submit="{{ col.refresh_table_on_submit }}">
    <div class="column-form-wrapper">
        {% with col.form_widget as form_widget %}
            {% include 'widget_templates/forms/default.html' %}
        {% endwith %}
    </div>
    {% include 'widget_templates/listing/column_header.html' %}
</th>
