{% load static %}
<script src="{% static 'js/themes.js' %}"></script>

<div class="theme-switch d-flex">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="col-auto pb-1">
            <div class="icon-wrapper icon-s">
                {% include "icons/moon.svg" %}
            </div>
        </div>
        <div class="col-auto ms-2">
            <form>
                {% csrf_token %}
                <div class="form-check form-switch">
                    <input
                        class="form-check-input p-2"
                        type="checkbox"
                        role="switch"
                        onclick="switchTheme()"
                        {% if data_bs_theme == "light" %}
                            checked
                        {% endif %}/>
                </div>
            </form>
        </div>
        <div class="col-auto pb-1">
            <div class="icon-wrapper icon-s">
                {% include "icons/sun.svg" %}
            </div>
        </div>
    </div>
</div>
